.nav{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.link{
    text-decoration: none;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #e6e6e6;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 150px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 2em;
    margin: 0 auto;
    border-radius: 1.15em;
    box-shadow: 0 .3em #9f9f9f;
}

.btn:hover {
        box-shadow: 0 .2em #9f9f9f;
        top: .1em;
}

.btn:active {
    box-shadow: 0 0 #9f9f9f;
    top: .3em;
}