@import url(//fonts.googleapis.com/css?family=Tangerine);

@import url(//fonts.googleapis.com/css?family=Lato);

body {
	position: relative;
	background-color: white;
	font-family: 'Lato', serif;
	width: 968px;
	margin: 8px auto;
	border: 1px orange dashed;
}
header, footer {
	width: 960px;
	padding: 8px 4px;
	clear: both;
}
header {
	height: 84px;
	border-bottom: 1px orange dashed;
	padding-top: 4px;
	overflow: hidden;
}
footer {
	height: 36px;
	border-top: 1px orange dashed;
}
#main {
	padding: 4px;
}
#_name {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 708px;
}
#_firstname {
	position: relative;
    font-family: 'Lato', serif;
	font-size: 70pt;
	top: -14px;
	left: 86px;
	float: left;
}
#_lastname {
	font-size: 32pt;
	font-variant: small-caps;
	position: relative;
	left: 90px;
	top: 20px;
	float: left;
}
#_shortname {
	font-size: x-small;
	text-transform: lowercase;
	height: 20px;
	width: 64px;
	text-align: center;
	position: absolute;
	top: 6px;
	left: 4px;
	overflow: hidden;
}
#_date {
	display: inline-block;
	font-size: 12pt;
	font-variant: small-caps;
	padding: 14px 8px 0px 0px;
}
#_avatar64 {
	display: block;
	padding-top: 16px;
	float: left;
}
#_avatar32 {
	display: inline-block;
	padding-top: 2px;
	float: right;
}
#_course {
	font-size: 22pt;
	display: inline-block;
	padding: 2px 8px 0px 0px;
	float: right;
}
#_semester {
	font-size: 12pt;
	font-variant: small-caps;
	display: inline-block;
	padding: 14px 8px 0px 0px;
	float: right;
}
#_headback {
	height: 100px;
	position: relative;
	top: -4px;
	left: 4px;
	overflow: hidden;
	float: right;
}
#_headback img {
	position: relative;
	top: -60px;
	left: 20px;
	transform: rotate(11deg);
	-webkit-transform: rotate(11deg);
	opacity: .3;
}
._siz512 {
	width: 512px;
	height: 512px;
}
._siz256 {
	width: 256px;
	height: 256px;
}
._siz128 {
	width: 128px;
	height: 128px;
}
._siz64 {
	width: 64px;
	height: 64px;
}
._siz48 {
	width: 48px;
	height: 48px;
}
._siz32 {
	width: 32px;
	height: 32px;
}
._siz16 {
	width: 16px;
	height: 16px;
}

._sizdim {
	opacity: .3;
}
@font-face {
    font-family: 'metro';
    src: url('metroscript-webfont.eot');
    src: url('metroscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('metroscript-webfont.woff2') format('woff2'),
         url('metroscript-webfont.woff') format('woff'),
         url('metroscript-webfont.ttf') format('truetype'),
         url('metroscript-webfont.svg#metro') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'felttip';
    src: url('felt_tip_roman-webfont.eot');
    src: url('felt_tip_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('felt_tip_roman-webfont.woff2') format('woff2'),
         url('felt_tip_roman-webfont.woff') format('woff'),
         url('felt_tip_roman-webfont.ttf') format('truetype'),
         url('felt_tip_roman-webfont.svg#felttip') format('svg');
    font-weight: normal;
    font-style: normal;
}